.loginform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-logo {
  height: 40px;
  width: 180px;
}

.website-login-img {
  height: 150px;
  width: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label-input-box {
  margin-bottom: 15px;
}

.input-title {
  font-size: 12px;
  font-family: 'Roboto';
  color: #475569;
  font-weight: 700;
  text-align: center;
}

.input-container {
  height: 30px;
  width: 200px;
  background-color: #d7dfe9;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.login-btn {
  background-color: #0967d2;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  padding: 8px;
  width: 100%;
  border: none;
  outline: none;
}

.error-msg {
  color: #ff0b37;
  font-size: 12px;
  font-family: 'Roboto';
}
