.header-container {
  align-self: stretch;
}

.logo-container-sm {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .logo-container-sm {
    display: none;
  }
}

.logo-container-md {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-container-md {
    display: flex;
    justify-content: space-between;
  }
}

.main-logo {
  height: 20px;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .main-logo {
    height: 40px;
    width: 160px;
  }
}

.logout-btn {
  background: transparent;
  border: none;
}

.nav-logout {
  height: 20px;
  width: 20px;
}

.nav-container-icon {
  background-color: #e6f6ff;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav-container-icon {
    display: none;
  }
}

.nav-item-icon {
  height: 18px;
  width: 18px;
  margin: 5px;
}

.nav-container-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-container-text {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-item-text {
    font-size: 16px;
    font-family: 'Roboto';
    color: #475569;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .logout-btn-md {
    background-color: #0967d2;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 11px;
    padding: 2px;
    width: 60px;
    height: 25px;
    border: none;
    outline: none;
  }
}
